<html>
    <head>
        <title>THE PINKROOM</title>
    </head>
    <body>
        <div>
            <h1><a href="/">WELCOME TO THE PINK ROOM</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">BLOG POST 1</a></h2>
            <p>We are the world. Do you care to join us?. If not we'll eliminate you?! We are the world. Do you care to join us?. If not we'll eliminate you?! We are the world. Do you care to join us?. If not we'll eliminate you?! We are the world. Do you care to join us?. If not we'll eliminate you?! We are the world. Do you care to join us?. If not we'll eliminate you?!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">BLOG POST 2</a></h2>
            <p>This is a story of a girl. It is also the story of a boy. This is a story of a girl. It is also the story of a boy. This is a story of a girl. It is also the story of a boy. This is a story of a girl. It is also the story of a boy. This is a story of a girl. It is also the story of a boy</p>
        </div>
    </body>
</html>